body{
    width: 1920px;
    height: 1080px;
    margin: 0;
    background-image: url(imgs/leao_esq.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position-y: 110px;
    background-position-x: 95%;
    background-size: 750px;
}
#container_menus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.301);
    position: fixed;
    width: 100%;
    height: 70px;
}
.select-list{
    display: inline-flex;
    position: relative;
    padding-left: 30px;
}
.select-list a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.select-list a:hover{
    opacity: 1 !important;
    color: rgb(17, 199, 255);
    font-size: 25px;
    text-transform: capitalize;
}
#container_informacoes{
    position: relative;
    top: 155px;
    right: 50px;
    width: 100%;
    height: 350px;
    justify-content: center;
    display: flex;
}
#nome{

}
#prm_nome, #seg_nome,#inf{
    position: relative;
    color: white;
    display: flex;
}
#prm_nome{
    top: 80px;
    font-size: 80px;
    width: 100%;
}
#seg_nome{
    right: 110px;
    top: 10px;
    font-size: 105px;
}
#inf{
    font-size: 24px;
    bottom: 6%;
    right: 115px;
}
#curriculo, #sobre_mim{
    position: relative;
    border: solid 3px; 
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
#curriculo{
    left: 80px;
    width: 150px;
}
#sobre_mim{
    left: -265px;
    width: 150px;
}
#curriculo:hover{
    width: 170px;
    height: 60px;
    font-size: 25px;
    color: rgb(17, 199, 255);
}
#sobre_mim:hover{
    width: 170px;
    height: 60px;
    font-size: 25px;
    color: rgb(17, 199, 255);
}
#redes-sociais{
    display: inline-flex;
    position:fixed;
    bottom: 5px;
    justify-content: center;
    width: 100%;
    left: 30px;
}
#redes-sociais .icones .tam{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 12px;
}
#redes-sociais .icones #diss{
    margin-top: 5px;
    width: 60px;
    height: 66px;
}
#redes-sociais .icones #email{
    width: 60px;
    height: 80px;
}